html{
  height: 100%;
}
body{
  background: url(../img/bg.jpg) no-repeat;
  height: 100%;
}
.wrapper{
  height: 100%;
  width: 960px;
  margin: 0 auto;
}
/*HEADER*/
.header{
  margin-top: 30px;
  height: 100px;
  width: 100%;
  background: url(../img/logo.png) no-repeat left;
}
nav{


}
.menu{
  overflow: hidden;
}
.menu__item{
  float: right;
}
